@import "./typography.css";

body,
html {
  font-family: "F2FMittelczyk-Office", sans-serif;
  font-size: calc(11px + 1vw);
  letter-spacing: 0.06rem;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  cursor: url("../images/pfeil1.png"), auto;
  // cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png'), auto;
}

.main {
  margin: 1rem;

  h1 {
    margin: initial;
    font-size: 2rem;
    text-transform: none;
    letter-spacing: initial;
    word-break: break-all;

    span {
      white-space: wrap;
    }
  }
}

a {
  text-decoration: none;
  cursor: inherit;
  &:hover {
    text-decoration: underline dashed;
    cursor: inherit;
  }
}
.container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  &:nth-child(even) {
    background-color: #5551ff;
    color: #f4f4ff;
    a {
      color: #ff8577;
    }
  }

  &:nth-child(odd) {
    background-color: #ff8577;
    color: #fdf5f4;
    // text-align: right;
    a {
      color: #5551ff;
    }
  }
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: "F2FBlurczyk-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.48rem;
}

.spark-video {
  width: 100%;
}

.images {
  width: 100%;
}

.vertical-video-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  overflow-x: auto;
}

.spark-video-wrapper {
  text-align: left;
  margin-right: 2rem;
  min-width: 7rem;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}

.nexttohead {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 11rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.profile-picture {
  width: 30%;
  float: right;
  padding-left: 1rem;
  max-width: 10rem;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
