@font-face {
  font-family: "F2FMittelczyk-Office";
  src: url("../fonts/F2FMittelczyk-Office.woff2");
}

@font-face {
  font-family: "F2FBlurczyk-Bold";
  src: url("../fonts/F2FBlurczyk-Bold.woff2");
}